.game-container {
  margin-top: 60px;
  padding: 15px;
  border-radius: 6px;
  background-color: #CFCDCD;
  height: 395px;
  width: 395px;
  position: relative;
  display: block;
}

.grid-box {
  height: 365px;
  width: 365px;
  border-radius: 2px;
  background-color: #E2E2E2;
  position: absolute;
  z-index: 1;
}

.grid-row{
  display: block;
  clear: both;
  height: 40px;
  content: "";
  margin-right: 2.5px;
  margin-left: 2.5px;
}

.lighter-item {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 2.5px;
  background-color: floralwhite;
  border-radius: 50%;
  moz-border-radius: 50%;
}

#score {
  text-align: center;
  font-size: 4em;
  font-family: fantasy;
}
