.game-container {
  padding: 15px;
  border-radius: 6px;
  background-color: #CFCDCD;
  height: 400px;
  width: 400px;
  position: relative;
  display: block;
}
.grid-box {
  height: 370px;
  width: 370px;
  border-radius: 2px;
  background-color: #E2E2E2;
  position: absolute;
  z-index: 1;
}

.lighter-item {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #ccc;
  border-radius: 50%;
  moz-border-radius: 50%;
  position: absolute;
}
